{% extends "shared/base.html" %}
{% block title %}
    home
{% endblock %}
{% block content %}
    {% for post in posts %}
        <article class="media content-section">
        <img class="rounded-circle account-img" src="{{ post.auth.profile.image_profile.url }}">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="{% url "userpost" post.auth.username %}">{{ post.auth }}</a>
                    <small class="text-muted">{{ post.created }}</small>
                </div>
                <h2><a class="article-title" href="{% url 'detial' post.id %}">{{ post.title }}</a></h2>
                <p class="article-content">{{ post.text|slice:"200"|safe }}</p>
            </div>
        </article>
    {% endfor %}
    {% if is_paginated %}
        {% if page_obj.has_previous %}
            <a href="?page=1" class="btn btn-outline-info mb-4">First</a>
            <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-outline-info mb-4">Previous</a>
        {% endif %}

{#        {% for page in page_obj.paginator.page_range %}#}
{#            {% if page_obj.number == page %}#}
{#                <a class="btn btn-info mb-4" href="?page={{ page }}">{{ page }}</a>#}
{#            {% elif page > page_obj.number|add:"-3" and page > page_obj.number|add:"3" %}#}
{#                <a class="btn btn-outline-info mb-4" href="?page={{ page }}">{{ page }}</a>#}
{#            {% endif %}#}
{#        {% endfor %}#}

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" class="btn btn-outline-info mb-4">Next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-outline-info mb-4">Last</a>
        {% endif %}

    {% endif %}
{% endblock content %}