{% extends "shared/base.html" %}
{% load crispy_forms_tags %}

{% block title %}
    login
{% endblock %}

{% block content %}
<!DOCTYPE html>
<html>
<br>
<br>
<br>
<br>
<br>


<head>
	<title>
		How to define a dialog
		box or window?
	</title>

	<style>
		dialog {
			color: #428bca;
			font-size: 30px;
			font-weight: bold;
			font-style: italic;
		}

		body {
			text-align: center;
		}
	</style>
</head>

<body>
	<dialog open>
		An Emial has been send you to reset password
	</dialog>
</body>

</html>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

{% endblock content %}






